@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root {
  --purple-color: #7f5a83;
  --violet-color: #0d324d;
  --white-color: #fff;
  --blue-color: #1c2042;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  background-color: #537895;
background-image: linear-gradient(315deg, #537895 0%, #09203f 74%);
  color: var(--blue-color);
}